.not-found-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #222;
  color: #fff;
}

.not-found-title {
  font-size: 3rem;
}

.not-found-text {
  font-size: 1.5rem;
  margin-top: 1rem;
}
